# Lecture 4.6 - Basics of cleaning messy text files 
## Part 2 - Grouping blocks of data and extracting information

In this lecture, we will go over a number of cases of messy data, and how to use Python to fix these problems.  This includes

1. Removing unwanted lines.
2. Parsing lines with regular expressions.
3. Working with data blocks spread across multiple lines.

## Reading in current progress

In [2]:
with open('911_Deaths_Grouped.csv') as f:
    content = f.read()
content[:500]

"Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.\nEdelmiro Abad, 54, Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.\nMarie Rose Abad, 49, Keefe, Bruyette&Woods, Inc., World Trade Center.\nAndrew Anthony Abate, 37, Melville, N.Y., Cantor Fitzgerald, World Trade Center.\nVincent Paul Abate, 40, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.\nLaurence Christopher Abel, 37, New York City, Cantor Fitzgerald, World Trade Center.\nAlona Abraham, 3"

In [3]:
grouped_lines = content.split('\n')
grouped_lines[:20]

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Edelmiro Abad, 54, Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.',
 'Marie Rose Abad, 49, Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Andrew Anthony Abate, 37, Melville, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Vincent Paul Abate, 40, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Laurence Christopher Abel, 37, New York City, Cantor Fitzgerald, World Trade Center.',
 'Alona Abraham, 30, Ashdod, Israel, Passenger, United 175, World Trade Center.',
 'William F. Abrahamson, 55, Westchester County, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Richard Anthony Aceto, 42, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Heinrich Bernhard Ackermann, 38, Aon Corporation, World Trade Center.',
 'Paul Acquaviva, 29, Glen Rock, N.J., Cantor Fitzgerald, World Trade Center.',
 'Christian Adams, 37, Passenger, United 93, Shanksville, Pa.',
 'Donald LaRoy Adams, 28, Cantor Fitzgerald, World Trade Center.',
 'Patrick Adams, 61, Fuji Bank, Ltd. security, World Trade Center.',
 'Shannon Lewis Adams, 25, Cantor Fitzgerald, World Trade Center.',
 'Stephen George Adams, 51, New York City, Windows on the World, World Trade Center.',
 'Ignatius Udo Adanga, 62, Bronx, N.Y., New York Metropolitan Transportation Council, World Trade Center.',
 'Christy A. Addamo, 28, New Hyde Park, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Terence Edward Adderley, Jr., 22, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Sophia B. Addo, 36, Bronx, N.Y., Windows on the World, World Trade Center.']

## Preprocessing 

Below I have transfered over the preprocessing functions and applied them to the data.

In [4]:
# Imports
from composable import pipeable
from composable.strict import map

In [5]:
# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))

In [6]:
(grouped_lines
>> map(add_missing_period)
>> map(fix_world_trade)
)

antor Fitzgerald, World Trade Center.',
 'Anthony J. Fallone, Jr., 39, New York City, Cantor Fitzgerald, World Trade Center.',
 'Dolores Brigitte Fanelli, 38, Farmingville, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Robert John Fangman, 33, Chelsea, Mass., Flight Crew, United 175, World Trade Center.',
 'John Joseph Fanning, 54, West Hempstead, N.Y., New York City Fire Department, World Trade Center.',
 'Kathleen Anne Faragher, 33, Risk Waters Group conference attendee from Janus Capital Group, World Trade Center.',
 'Thomas James Farino, 37, Bohemia, N.Y., New York City Fire Department, World Trade Center.',
 'Nancy C. Doloszycki Farley, 45, Jersey City, N.J., Reinsurance Solutions, World Trade Center.',
 'Paige Marie Farley-Hackel, 46, Newton, Mass., Passenger, United 11, World Trade Center.',
 'Elizabeth Ann Farmer, 62, Cantor Fitzgerald contractor, World Trade Center.',
 'Douglas Jon Farnum, 33, Brooklyn, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'John Gerard Farrell, 32, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 "John W. Farrell, 41, Basking Ridge, N.J., Sandler O'Neill + Partners, World Trade Center.",
 'Terrence Patrick Farrell, 45, New York City Fire Department, World Trade Center.',
 'Joseph D. Farrelly, 47, New York City Fire Department, World Trade Center.',
 'Thomas Patrick Farrelly, 54, Marsh&McLennan consultant, World Trade Center.',
 'Syed Abdul Fatha, 54, Newark, N.J., Pitney Bowes Inc., World Trade Center.',
 'Christopher Edward Faughnan, 37, South Orange, N.J., Cantor Fitzgerald, World Trade Center.',
 'Wendy R. Faulkner, 47, Mason, Ohio, Aon Corporation, World Trade Center.',
 'Shannon Marie Fava, 30, Cantor Fitzgerald, World Trade Center.',
 'Bernard D. Favuzza, 52, Cantor Fitzgerald, World Trade Center.',
 'Robert Fazio, Jr., 41, Freeport, N.Y., New York City Police Department, World Trade Center.',
 'Ronald Carl Fazio, Sr., 57, Closter, N.J., Aon Corporation, World Trade Center.',
 'William M. Feehan, 71, Flushing, N.Y., New York City Fire Department, World Trade Center.',
 'Francis Jude Feely, 41, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Garth Erin Feeney, 25, New York City, Risk Waters Group conference attendee from DataSynapse, World Trade Center.',
 'Sean Bernard Fegan, 34, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Lee S. Fehling, 28, Wantagh, N.Y., New York City Fire Department, World Trade Center.',
 'Peter Adam Feidelberg, 34, Hoboken, N.J., Aon Corporation, World Trade Center.',
 'Alan D. Feinberg, 48, Marlboro, N.J., New York City Fire Department, World Trade Center.',
 'Rosa Maria Feliciano, 30, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Edward P. Felt, 41, Matawan, N.J., Passenger, United 93, Shanksville, Pa.',
 'Edward Thomas Fergus, Jr., 40, Wilton, Conn., Cantor Fitzgerald, World Trade Center.',
 'George J. Ferguson III, 54, Teaneck, N.J., Westfalia Investments, Inc., World Trade Center.',
 'J. Joseph Ferguson, 39, Washington, D.C., Passenger, American 77, Pentagon.',
 'Henry Fernandez, 23, Windows on the World, World Trade Center.',
 'Judy Hazel Santillan Fernandez, 27, Parlin, N.J., Cantor Fitzgerald, World Trade Center.',
 'Julio Fernandez, 51, Hudson Shatz, World Trade Center.',
 'Elisa Giselle Ferraina, 26, Risk Waters Group, World Trade Center.',
 'Anne Marie Sallerin Ferreira, 29, Cantor Fitzgerald, World Trade Center.',
 'Robert John Ferris, 63, Garden City, N.Y., Aon Corporation, World Trade Center.',
 'David Francis Ferrugio, 46, Middletown, N.J., Cantor Fitzgerald, World Trade Center.',
 'Louis V. Fersini, Jr., 38, Basking Ridge, N.J., Cantor Fitzgerald, World Trade Center.',
 'Michael David Ferugio, 37, Brooklyn, N.Y., Aon Corporation visitor from Swett&Crawford Group, World Trade Center.',
 'Bradley James Fetchet, 24, Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Jennifer Louise Fialko, 29, Teaneck, N.J., Aon Corporation, World Trade Center.',
 'Kristen Nicole Fiedel, 27, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Amelia V. Fields, 46, Dumfries, Va., United States Army Civilian, Pentagon.',
 'Samuel Fields, 36, Summit Security Services, Inc., World Trade Center.',
 'Alexander Milan Filipov, 70, Concord, Mass., Passenger, United 11, World Trade Center.',
 'Michael Bradley Finnegan, 37, Basking Ridge, N.J., Cantor Fitzgerald, World Trade Center.',
 'Timothy J. Finnerty, 33, Glen Rock, N.J., Cantor Fitzgerald, World Trade Center.',
 'Michael C. Fiore, 46, Staten Island, N.Y., New York City Fire Department, World Trade Center.',
 'Stephen J. Fiorelli, 43, Aberdeen, N.J., Port Authority of New York and New Jersey, World Trade Center.',
 'Paul M. Fiori, 31, Cantor Fitzgerald, World Trade Center.',
 'John B. Fiorito, 40, Stamford, Conn., Cantor Fitzgerald, World Trade Center.',
 'John R. Fischer, 46, New York City Fire Department, World Trade Center.',
 'Andrew Fisher, 42, Risk Waters Group conference attendee from Imagine Software, Inc., World Trade Center.',
 'Bennett Lawson Fisher, 58, Greenwich, Conn., Fiduciary Trust Company International, World Trade Center.',
 'Gerald P. Fisher, 57, Potomac, Md., United States Army contractor, Pentagon.',
 'John Roger Fisher, 46, Port Authority of New York and New Jersey, World Trade Center.',
 'Thomas J. Fisher, 36, Union, N.J., Fiduciary Trust Company International, World Trade Center.',
 'Lucy A. Fishman, 36, Brooklyn, N.Y., Aon Corporation, World Trade Center.',
 'Ryan D. Fitzgerald, 26, Floral Park, N.Y., Fiduciary Trust Company International, World Trade Center.',
 "Thomas James Fitzpatrick, 35, Tuckahoe, N.Y., Sandler O'Neill + Partners, World Trade Center.",
 'Richard P. Fitzsimons, 57, Lynbrook, N.Y., World Trade Center Fire Safety, World Trade Center.',
 'Salvatore Fiumefreddo, 45, Manalapan, N.J., Cantor Fitzgerald contractor from International Brotherhood of Electrical Workers, World Trade Center.',
 'Darlene E. Flagg, ??, Passenger, American 77, Pentagon.',
 'Wilson F. Flagg, 62, Millwood, Va., Passenger, American 77, Pentagon.',
 "Christina Donovan Flannery, 26, Middle Village, N.Y., Sandler O'Neill + Partners, World Trade Center.",
 'Eileen Flecha, 33, Queens, N.Y., Fiduciary Trust Company International, World Trade Center.',
 'Andre G. Fletcher, 37, New York City Fire Department, World Trade Center.',
 'Carl M. Flickinger, 38, Congers, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Matthew M. Flocco, ??, United States Navy, Pentagon.',
 'John Joseph Florio, 33, Oceanside, N.Y., New York City Fire Department, World Trade Center.',
 'Joseph Walkden Flounders, 46, East Stroudsburg, Pa., Euro Brokers, World Trade Center.',
 'Carol Ann Flyzik, 40, Plaistow, N.H., Passenger, United 11, World Trade Center.',
 'David Fodor, 38, Fiduciary Trust Company International, World Trade Center.',
 'Michael N. Fodor, 53, Warwick, N.Y., New York City Fire Department, World Trade Center.',
 'Stephen Mark Fogel, 40, Cantor Fitzgerald, World Trade Center.',
 'Thomas J. Foley, 32, Central Nyack, N.Y., New York City Fire Department, World Trade Center.',
 'Jane C. Folger, 73, Bayonne, N.J., Passenger, United 93, Shanksville, Pa.',
 'David J. Fontana, 37, Brooklyn, N.Y., New York City Fire Department, World Trade Center.',
 'Chih Min Foo, 40, Holmdel, N.J., New York Board of Trade, World Trade Center.',
 'Delrose E. Forbes Cheatham, 48, Effort, Pa., Cantor Fitzgerald, World Trade Center.',
 'Godwin Forde, 38, Morgan Stanley contractor, World Trade Center.',
 'Donald A. Foreman, 53, Staten Island, N.Y., Port Authority Police Department, World Trade Center.',
 'Christopher Hugh Forsythe, 44, Cantor Fitzgerald, World Trade Center.',
 'Claudia Alicia Foster, 26, Cantor Fitzgerald, World Trade Center.',
 'Noel John Foster, 40, Aon Corporation, World Trade Center.',
 'Sandra N. Foster, 41, Defense Intelligence Agency, Pentagon.',
 'Ana Fosteris, 58, Aon Corporation, World Trade Center.',
 'Robert Joseph Foti, 42, Albertson, N.Y., New York City Fire Department, World Trade Center.',
 'Jeffrey Fox, 40, Cranbury, N.J., Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Virginia Elizabeth Fox, 58, New York City, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Pauline Francis, 56, Brooklyn, N.Y., Cantor Fitzgerald, Forte Food Service, World Trade Center.',
 'Virgin Lucy Francis, 62, Brooklyn, N.Y., Windows on the World, World Trade Center.',
 'Gary Jay Frank, 35, South Amboy, N.J., Aon Corporation, World Trade Center.',
 'Morton H. Frank, 31, Cantor Fitzgerald, World Trade Center.',
 'Peter Christopher Frank, 29, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Colleen L. Fraser, 51, Elizabeth, N.J., Passenger, United 93, Shanksville, Pa.',
 'Richard K. Fraser, 32, Aon Corporation, World Trade Center.',
 'Kevin J. Frawley, 34, Bronxville, N.Y., Euro Brokers, World Trade Center.',
 'Clyde Frazier, Jr., 41, Jamaica, N.Y., New York State Department of Taxation and Finance, Revenue Crimes Bureau, World Trade Center.',
 'Lillian Inez Frederick, 46, Teaneck, N.J., Aon Corporation, World Trade Center.',
 'Andrew Fredericks, 40, Suffern, N.Y., New York City Fire Department, World Trade Center.',
 'Tamitha Freeman, 35, Aon Corporation, World Trade Center.',
 'Brett Owen Freiman, 28, New York City, Marriott guest, World Trade Center.',
 'Peter L. Freund, 45, Westtown, N.Y., New York City Fire Department, World Trade Center.',
 'Arlene Eva Fried, 49, Roslyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Alan W. Friedlander, 52, Yorktown Heights, N.Y., Aon Corporation, World Trade Center.',
 'Andrew Keith Friedman, 44, Woodbury, N.Y., Carr Futures, Inc., World Trade Center.',
 'Paul J. Friedman, 45, Passenger, United 11, World Trade Center.',
 'Gregg J. Froehner, 46, Chester, N.J., Port Authority Police Department, World Trade Center.',
 'Lisa Anne Frost, 22, Rancho Santa Margarita, Calif., Passenger, United 175, World Trade Center.',
 'Peter Christian Fry, 36, Wilton, Conn., Euro Brokers, World Trade Center.',
 'Clement A. Fumando, 59, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Steven Elliot Furman, 40, Cantor Fitzgerald, World Trade Center.',
 'Paul James Furmato, 37, Colts Neck, N.J., Cantor Fitzgerald, World Trade Center.',
 'Karleton Douglas Beye Fyfe, 31, Brookline, Mass., Passenger, United 11, World Trade Center.',
 'Fredric Neal Gabler, 30, New York City, Cantor Fitzgerald, World Trade Center.',
 'Richard Peter Gabriel, 54, Great Falls, Va., Passenger, American 77, Pentagon.',
 'Richard S. Gabrielle, 50, West Haven, Conn., Aon Corporation, World Trade Center.',
 'James Andrew Gadiel, 23, Kent, Conn., Cantor Fitzgerald, World Trade Center.',
 'Pamela Lee Gaff, 51, Robbinsville, N.J., Aon Corporation, World Trade Center.',
 'Ervin Vincent Gailliard, 42, Summit Security Services, Inc., World Trade Center.',
 'Deanna Lynn Galante and her unborn child, 32, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Grace Catherine Galante, 29, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Anthony Edward Gallagher, 41, New York City, Cantor Fitzgerald, World Trade Center.',
 'Daniel James Gallagher, 23, Red Bank, N.J., Cantor Fitzgerald, World Trade Center.',
 'John Patrick Gallagher, 31, Cantor Fitzgerald, World Trade Center.',
 'Lourdes J. Galletti, 35, Bronx, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Cono E. Gallo, 30, Maspeth, N.Y., Carr Futures, Inc., World Trade Center.',
 'Vincent Gallucci, 36, Monroe, N.J., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Thomas E. Galvin, 32, New York City, Cantor Fitzgerald, World Trade Center.',
 'Giovanna Galletta Gambale, 27, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Thomas Gambino, Jr., 48, Babylon, N.Y., New York City Fire Department, World Trade Center.',
 'Giann F. Gamboa, 26, East Elmhurst, N.Y., Aramark Corporation, World Trade Center.',
 'Ronald L. Gamboa, 33, Los Angeles, Calif., Passenger, United 175, World Trade Center.',
 'Peter James Ganci, Jr., 54, North Massapequa, N.Y., New York City Fire Department, World Trade Center.',
 'Michael Gann, 41, Roswell, Ga., Risk Waters Group conference attendee from Algorithmics Incorporated, World Trade Center.',
 'Charles William Garbarini, 44, Westchester, N.Y., New York City Fire Department, World Trade Center.',
 'Andrew Sonny Garcia, 62, Portola Valley, Calif., Passenger, United 93, Shanksville, Pa.',
 'Cesar R. Garcia, 36, Staten Island, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'David Garcia, 40, Freeport, N.Y., Marsh&McLennan consultant from Allegiance Group, World Trade Center.',
 'Jorge Luis Morron Garcia, 38, Jackson Heights, N.Y., Summit Security Services, Inc., World Trade Center.',
 'Juan Garcia, 50, Cantor Fitzgerald, Forte Food Service, World Trade Center.',
 'Marlyn Del Carmen Garcia, 21, Brooklyn, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Christopher Samuel Gardner, 36, Darien, Conn., Aon Corporation, World Trade Center.',
 'Douglas Benjamin Gardner, 39, New York City, Cantor Fitzgerald, World Trade Center.',
 'Harvey Joseph Gardner III, 35, Lake Wood, N.J., General Telecommunications, World Trade Center.',
 'Jeffrey Brian Gardner, 36, Hoboken, N.J., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Thomas A. Gardner, 39, Oceanside, N.Y., New York City Fire Department, World Trade Center.',
 'William Arthur Gardner, 45, Cantor Fitzgerald, World Trade Center.',
 'Frank Garfi, 28, New York City, Cantor Fitzgerald, World Trade Center.',
 'Rocco Nino Gargano, 28, Cantor Fitzgerald, World Trade Center.',
 'James M. Gartenberg, 35, New York City, Julien J. Studley, World Trade Center.',
 'Matthew David Garvey, 37, New York City Fire Department, World Trade Center.',
 'Bruce Gary, 51, Bellmore, N.Y., New York City Fire Department, World Trade Center.',
 'Boyd Alan Gatton, 38, Fiduciary Trust Company International, World Trade Center.',
 'Donald Richard Gavagan, Jr., 35, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Peter Alan Gay, 54, Tewksbury, Mass., Passenger, United 11, World Trade Center.',
 'Terence D. Gazzani, 24, Cantor Fitzgerald, World Trade Center.',
 'Gary Paul Geidel, 44, Staten Island, N.Y., New York City Fire Department, World Trade Center.',
 'Paul Hamilton Geier, 36, Cantor Fitzgerald, World Trade Center.',
 "Julie M. Geis, 44, Lee's Summit, Mo., Aon Corporation, World Trade Center.",
 'Peter Gerard Gelinas, 34, Westchester, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Steven Paul Geller, 52, New York City, Cantor Fitzgerald, World Trade Center.',
 "Howard G. Gelling, Jr., 28, New York City, Sandler O'Neill + Partners, World Trade Center.",
 'Peter Victor Genco, Jr., 36, Rockville Centre, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Steven Gregory Genovese, 37, Basking Ridge, N.J., Cantor Fitzgerald, World Trade Center.',
 'Alayne Gentul, 44, Fiduciary Trust Company International, World Trade Center.',
 'Linda M. George, 27, Westboro, Mass., Passenger, United 11, World Trade Center.',
 'Edward F. Geraghty, 45, New York City Fire Department, World Trade Center.',
 'Suzanne Geraty, 30, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Ralph Gerhardt, 34, New York City, Cantor Fitzgerald, World Trade Center.',
 'Robert Gerlich, 56, Reinsurance Solutions, World Trade Center.',
 'Denis P. Germain, 33, Tuxedo, N.Y., New York City Fire Department, World Trade Center.',
 'Marina Romanovna Gertsberg, 25, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Susan M. Getzendanner, 57, Fiduciary Trust Company International, World Trade Center.',
 'Lawrence D. Getzfred, 57, Maryland, United States Navy, Pentagon.',
 'James G. Geyer, 41, Rockville Centre, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Cortez Ghee, ??, United States Army Civilian, Pentagon.',
 'Joseph M. Giaccone, 43, Monroe, N.J., Cantor Fitzgerald, World Trade Center.',
 'Vincent Francis Giammona, 40, Valley Stream, N.Y., New York City Fire Department, World Trade Center.',
 'Debra Lynn Gibbon, 43, Hackettstown, N.J., Aon Corporation, World Trade Center.',
 'James Andrew Giberson, 43, Staten Island, N.Y., New York City Fire Department, World Trade Center.',
 'Brenda C. Gibson, 59, Fredericksburg, Va., United States Army Civilian, Pentagon.',
 'Craig Neil Gibson, 37, Brooklyn, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Ronnie E. Gies, 43, Merrick, N.Y., New York City Fire Department, World Trade Center.',
 'Andrew Clive Gilbert, 39, Tewksbury, N.J., Cantor Fitzgerald, World Trade Center.',
 'Timothy Paul Gilbert, 35, Cantor Fitzgerald, World Trade Center.',
 'Paul Stuart Gilbey, 39, Chatham, N.J., Euro Brokers, World Trade Center.',
 'Paul John Gill, 34, Astoria, N.Y., New York City Fire Department, World Trade Center.',
 'Mark Y. Gilles, 33, Brooklyn, N.Y., Cantor Fitzgerald consultant, World Trade Center.',
 "Evan Hunter Gillette, 40, New York City, Sandler O'Neill + Partners, World Trade Center.",
 'Ronald Lawrence Gilligan, 43, Cantor Fitzgerald, World Trade Center.',
 'Rodney C. Gillis, 33, Brooklyn, N.Y., New York City Police Department, World Trade Center.',
 'Laura Gilly, 32, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'John F. Ginley, 37, Warwick, N.Y., New York City Fire Department, World Trade Center.',
 'Donna Marie Giordano, 44, Aon Corporation, World Trade Center.',
 'Jeffrey John Giordano, 45, New York City Fire Department, World Trade Center.',
 'John Giordano, 47, New York City Fire Department, World Trade Center.',
 'Steven A. Giorgetti, 43, Manhasset, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Martin Giovinazzo, 34, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Kum-Kum Girolamo, 41, Kew Gardens, N.Y., Aon Corporation, World Trade Center.',
 'Salvatore Gitto, 44, Manalapan, N.J., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Cynthia Giugliano, 46, Nesconset, N.Y., Empire BlueCross BlueShield, World Trade Center.',
 'Mon Gjonbalaj, 64, Bronx, N.Y., ABM Industries Inc., World Trade Center.',
 'Dianne Gladstone, 55, Forest Hills, N.Y., New York State Department of Taxation and Finance, World Trade Center.',
 'Keith Alexander Glascoe, 38, New York City Fire Department, World Trade Center.',
 "Thomas Irwin Glasser, 40, Summit, N.J., Sandler O'Neill + Partners, World Trade Center.",
 'Edmund Glazer, 41, Passenger, United 11, World Trade Center.',
 'Harry Glenn, 38, Piscataway, N.J., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Barry H. Glick, 55, Wayne, N.J., Port Authority of New York and New Jersey, World Trade Center.',
 'Jeremy Logan Glick, 31, Hewitt, N.J., Passenger, United 93, Shanksville, Pa.',
 'Steven Glick, 42, Risk Waters Group conference, World Trade Center.',
 'John T. Gnazzo, 32, Cantor Fitzgerald, World Trade Center.',
 'William Robert Godshalk, 35, New York City, Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Michael Gogliormella, 43, New Providence, N.J., Cantor Fitzgerald, World Trade Center.',
 'Brian F. Goldberg, 26, Union, N.J., Fiduciary Trust Company International, World Trade Center.',
 'Jeffrey G. Goldflam, 48, Melville, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Michelle Goldstein, 31, New York City, Aon Corporation, World Trade Center.',
 'Monica Goldstein, 25, Staten Island, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Steven Ian Goldstein, 35, Princeton, N.J., Cantor Fitzgerald, World Trade Center.',
 'Ronald F. Golinski, 60, Columbia, Md., United States Army Civilian, Pentagon.',
 'Andrew H. Golkin, 30, New York City, Cantor Fitzgerald, World Trade Center.',
 'Dennis James Gomes, 40, Fiduciary Trust Company International, World Trade Center.',
 'Enrique Antonio Gomez, 42, Windows on the World, World Trade Center.',
 'Jose Bienvenido Gomez, 45, New York, Windows on the World, World Trade Center.',
 'Manuel Gomez, Jr., 42, Fuji Bank, Ltd., World Trade Center.',
 'Wilder Alfredo Gomez, 37, Windows on the World, World Trade Center.',
 ...]

In [7]:
# For convenience I will give these a name
prepped_lines = (grouped_lines 
                >> map(add_missing_period)
                >> map(fix_world_trade)
                )
prepped_lines[:20]

["Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center.",
 'Edelmiro Abad, 54, Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.',
 'Marie Rose Abad, 49, Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Andrew Anthony Abate, 37, Melville, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Vincent Paul Abate, 40, Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Laurence Christopher Abel, 37, New York City, Cantor Fitzgerald, World Trade Center.',
 'Alona Abraham, 30, Ashdod, Israel, Passenger, United 175, World Trade Center.',
 'William F. Abrahamson, 55, Westchester County, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Richard Anthony Aceto, 42, Marsh&McLennan Companies, Inc., World Trade Center.',
 'Heinrich Bernhard Ackermann, 38, Aon Corporation, World Trade Center.',
 'Paul Acquaviva, 29, Glen Rock, N.J., Cantor Fitzgerald, World Trade Center.',
 'Christian Adams, 37, Passenger, United 93, Shanksville, Pa.',
 'Donald LaRoy Adams, 28, Cantor Fitzgerald, World Trade Center.',
 'Patrick Adams, 61, Fuji Bank, Ltd. security, World Trade Center.',
 'Shannon Lewis Adams, 25, Cantor Fitzgerald, World Trade Center.',
 'Stephen George Adams, 51, New York City, Windows on the World, World Trade Center.',
 'Ignatius Udo Adanga, 62, Bronx, N.Y., New York Metropolitan Transportation Council, World Trade Center.',
 'Christy A. Addamo, 28, New Hyde Park, N.Y., Marsh&McLennan Companies, Inc., World Trade Center.',
 'Terence Edward Adderley, Jr., 22, New York City, Fred Alger Management, Inc., World Trade Center.',
 'Sophia B. Addo, 36, Bronx, N.Y., Windows on the World, World Trade Center.']

## Regular expression from lab 2

Below I have attempted to combine all of the regular expressions from lab 2

In [8]:
import re
line_parts = re.compile('^(.+), (\?\?|\d{1,3}),(.*?)( Passenger,| Flight Crew,)?( United \d{2,3},| American \d{2,3},)?( World Trade Center| Pentagon| Shanksville, Pa)(, died \d{1,2}/\d{1,2}/\d{1,2})?\.$')

In [9]:
prepped_lines[2402]

'Jesus Sanchez, 45, Flight Crew, United 175, World Trade Center.'

In [10]:
line_parts.search(prepped_lines[2402]).groups()

('Jesus Sanchez',
 '45',
 '',
 ' Flight Crew,',
 ' United 175,',
 ' World Trade Center',
 None)

#### Always check for non-matches

In [11]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts.search(l)]

[]

## Verbose regular expressions

**Pros:**
* Spread over multiple lines
* Allow comments

**Cons:**
* Ignore white space outside `()`
* Require escaping spaces `\ `

In [11]:
# Without Using VERBOSE 
regex_email = re.compile(r'^([a-z0-9_\.-]+)@([0-9a-z\.-]+)\.([a-z\.]{2, 6})$')

In [12]:
# Using VERBOSE 
regex_email = re.compile(r""" 
                        ^([a-z0-9_\.-]+)			 # local Part 
                        @							 # single @ sign 
                        ([0-9a-z\.-]+)			 	 # Domain name 
                        \.						 	 # single Dot . 
                        ([a-z]{2,6})$				 # Top level Domain 
                        """,re.VERBOSE)

## Another example.

This example, from the Python docs, shows how to space out an OR section across multiple lines.

In [13]:
charref = re.compile(r"""
 &[#]                # Start of a numeric entity reference
 (
     0[0-7]+         # Octal form
   | [0-9]+          # Decimal form
   | x[0-9a-fA-F]+   # Hexadecimal form
 )
 ;                   # Trailing semicolon
""", re.VERBOSE)

## Cleaning up our regular expr

<h2> <font color="red"> Exercise 4.6.1 - Clean up the regular expression </font> </h2>

To clean up the regular expression, 

1. Replace all spaces with `\ ` or `\s` (I prefer the second)
2. Turn the string into a multi-line string.
3. Spread the parts over many lines
4. Add comments.

In the following strucutre, spaces are reconginzed as formatting, not as actualt regex characters. At a minimun, the spaces need to be replaces with at least \

In [15]:
line_parts2 = re.compile(r"""

^(.+),\s        #front part
    (
    \?\?|\d{1,3}),(.*?)(\sPassenger,|   #may be a passenger
    \sFlight Crew,                      #or flight crew
    )?                                  #or neither

    (
        \sUnited\s\d{2,3},|             #may have been on an american flight
        \sAmerican\s\d{2,3},            #a United Flight
    )?                                  #or neither
    ( 
        \sWorld\sTrade\sCenter|         #could have died at WTC
        \sPentagon|                     #Pentagon
        \sShanksville,\sPa              #or PN
    )
    (
        ,\sdied\s\d{1,2}/\d{1,2}/\d{1,2}#grab trailing details if they exist
    )?
    \.$
     
    
    
""",re.VERBOSE
)

In [17]:
line_parts2.search(prepped_lines[2402]).groups() #looks good

('Jesus Sanchez',
 '45',
 ' Flight Crew,',
 None,
 ' United 175,',
 ' World Trade Center',
 None)

In [16]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts2.search(l)] #catches everything

[]

## Progress so far

In [18]:
# Imports
from composable import pipeable
from composable.strict import map

In [19]:
# Reg Ex for a line
line_parts = re.compile(r'''^(.+),
(
      \s\?\?                          # ??
    | \s\d{1,3}                       # or age
),
(.*?)                                 # Includes hometown and 
(
        \sPassenger,                  # Optional flight status
    |   \sFlightsCrew,
)?
(
      \sUnited\s\d{2,3},              # Optional flight
    | \sAmericans\d{2,3},
)?
(
       \sWorld\sTrade\sCenter         # Location
    |  \sPentagon
    |  \sShanksville,\sPa
)
(
    ,\sdied\s\d{1,2}/\d{1,2}/\d{1,2}  # Optional date of death
)?
\.$''', re.VERBOSE)

In [20]:
# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))
# New
get_line_parts = pipeable(lambda line: line_parts.search(line).groups(default=''))

In [18]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts.search(l)]

[]

In [23]:
split_lines =  (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(get_line_parts)
                )
split_lines[0:5]

[('Gordon M. Aamoth, Jr.',
  ' 32',
  " Sandler O'Neill + Partners,",
  '',
  '',
  ' World Trade Center',
  ''),
 ('Edelmiro Abad',
  ' 54',
  ' Brooklyn, N.Y., Fiduciary Trust Company International,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Marie Rose Abad',
  ' 49',
  ' Keefe, Bruyette&Woods, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Andrew Anthony Abate',
  ' 37',
  ' Melville, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Vincent Paul Abate',
  ' 40',
  ' Brooklyn, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  '')]

## Pulling out and cleaning up names

Sometimes it is useful to pull the various columns apart and clean them up separately.  To illustrate, will will pull out and clean up the names. We can do this using the `get` function from `toolz.curried` which *gets* the value from a list at a given index.

In [24]:
from toolz.curried import get

In [25]:
(split_lines
>> map(get(0))
)[0:10]

['Gordon M. Aamoth, Jr.',
 'Edelmiro Abad',
 'Marie Rose Abad',
 'Andrew Anthony Abate',
 'Vincent Paul Abate',
 'Laurence Christopher Abel',
 'Alona Abraham',
 'William F. Abrahamson',
 'Richard Anthony Aceto',
 'Heinrich Bernhard Ackermann']

Now we can clean up these name by removing commas.

In [26]:
remove_commas = lambda s: s.replace(',', '')

(split_lines
>> map(get(0))
>> map(remove_commas)
)[0:30]

['Gordon M. Aamoth Jr.',
 'Edelmiro Abad',
 'Marie Rose Abad',
 'Andrew Anthony Abate',
 'Vincent Paul Abate',
 'Laurence Christopher Abel',
 'Alona Abraham',
 'William F. Abrahamson',
 'Richard Anthony Aceto',
 'Heinrich Bernhard Ackermann',
 'Paul Acquaviva',
 'Christian Adams',
 'Donald LaRoy Adams',
 'Patrick Adams',
 'Shannon Lewis Adams',
 'Stephen George Adams',
 'Ignatius Udo Adanga',
 'Christy A. Addamo',
 'Terence Edward Adderley Jr.',
 'Sophia B. Addo',
 'Lee Adler',
 'Daniel Thomas Afflitto',
 'Emmanuel Akwasi Afuakwah',
 'Alok Agarwal',
 'Mukul Kumar Agarwala',
 'Joseph Agnello',
 'David Scott Agnes',
 'Joao Alberto da Fonseca Aguiar Jr.',
 'Brian G. Ahearn',
 'Jeremiah Joseph Ahern']

## Pulling out and cleaning up ages

NExt, we will pull out and clean the ages.  In this case, we should replace the missing values, currently `'??'`, to blanks.

In [27]:
remove_quest_mark = lambda s: s.replace('??', '')

(split_lines
>> map(get(1))
>> map(remove_quest_mark)
)[0:30]

[' 32',
 ' 54',
 ' 49',
 ' 37',
 ' 40',
 ' 37',
 ' 30',
 ' 55',
 ' 42',
 ' 38',
 ' 29',
 ' 37',
 ' 28',
 ' 61',
 ' 25',
 ' 51',
 ' 62',
 ' 28',
 ' 22',
 ' 36',
 ' 48',
 ' 32',
 ' 37',
 ' 36',
 ' 37',
 ' 35',
 ' 46',
 ' 30',
 ' 43',
 ' 74']

## Progress so far

In [28]:
# Imports
from composable import pipeable
from composable.strict import map

In [29]:
# Reg Ex for a line
line_parts = re.compile(r'''^(.+),
(
      \s\?\?                          # ??
    | \s\d{1,3}                       # or age
),
(.*?)                                 # Includes hometown and 
(
        \sPassenger,                  # Optional flight status
    |   \sFlightsCrew,
)?
(
      \sUnited\s\d{2,3},              # Optional flight
    | \sAmericans\d{2,3},
)?
(
       \sWorld\sTrade\sCenter         # Location
    |  \sPentagon
    |  \sShanksville,\sPa
)
(
    ,\sdied\s\d{1,2}/\d{1,2}/\d{1,2}  # Optional date of death
)?
\.$''', re.VERBOSE)

In [30]:
# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))
get_line_parts = pipeable(lambda line: line_parts.search(line).groups(default=''))
# New
remove_commas = lambda s: s.replace(',', '')
remove_quest_mark = lambda s: s.replace('??', '')

In [27]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts.search(l)]

[]

In [31]:
split_lines =  (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(get_line_parts)
                )
split_lines[0:5]

[('Gordon M. Aamoth, Jr.',
  ' 32',
  " Sandler O'Neill + Partners,",
  '',
  '',
  ' World Trade Center',
  ''),
 ('Edelmiro Abad',
  ' 54',
  ' Brooklyn, N.Y., Fiduciary Trust Company International,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Marie Rose Abad',
  ' 49',
  ' Keefe, Bruyette&Woods, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Andrew Anthony Abate',
  ' 37',
  ' Melville, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Vincent Paul Abate',
  ' 40',
  ' Brooklyn, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  '')]

In [67]:
names =  (split_lines
        >> map(get(0))
        >> map(remove_commas)
        )
names[0:30]

['Gordon M. Aamoth Jr.',
 'Edelmiro Abad',
 'Marie Rose Abad',
 'Andrew Anthony Abate',
 'Vincent Paul Abate',
 'Laurence Christopher Abel',
 'Alona Abraham',
 'William F. Abrahamson',
 'Richard Anthony Aceto',
 'Heinrich Bernhard Ackermann',
 'Paul Acquaviva',
 'Christian Adams',
 'Donald LaRoy Adams',
 'Patrick Adams',
 'Shannon Lewis Adams',
 'Stephen George Adams',
 'Ignatius Udo Adanga',
 'Christy A. Addamo',
 'Terence Edward Adderley Jr.',
 'Sophia B. Addo',
 'Lee Adler',
 'Daniel Thomas Afflitto',
 'Emmanuel Akwasi Afuakwah',
 'Alok Agarwal',
 'Mukul Kumar Agarwala',
 'Joseph Agnello',
 'David Scott Agnes',
 'Joao Alberto da Fonseca Aguiar Jr.',
 'Brian G. Ahearn',
 'Jeremiah Joseph Ahern']

In [236]:
ages =  (split_lines
        >> map(get(1))
        >> map(remove_quest_mark)
        >> map(Strip_spaces) #I added this after the fact for consistancy
        )
ages[0:30]

['32',
 '54',
 '49',
 '37',
 '40',
 '37',
 '30',
 '55',
 '42',
 '38',
 '29',
 '37',
 '28',
 '61',
 '25',
 '51',
 '62',
 '28',
 '22',
 '36',
 '48',
 '32',
 '37',
 '36',
 '37',
 '35',
 '46',
 '30',
 '43',
 '74']

<h2> <font color="red"> Exercise 4.6.2 - Separating and cleaning other columns. </font> </h2>

To clean up the following columns 

1. Grab the date of death and replace the missing values with `9/11/2001`
2. Grab the locations (e.g. `World Trade Center`) and remove the comma from `'Shanksville, Pa.`
3. Grab the flights.
4. Grab the passenger status.

**Note:** Be sure to strip whitespace from all of them.

In [37]:
line_parts.search(prepped_lines[2402]).groups()

('Jesus Sanchez',
 ' 45',
 ' Flight Crew,',
 None,
 ' United 175,',
 ' World Trade Center',
 None)

In [69]:

# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))
get_line_parts = pipeable(lambda line: line_parts.search(line).groups(default=''))

# New
remove_commas = lambda s: s.replace(',', '')
remove_quest_mark = lambda s: s.replace('??', '')
replace_blank_death = lambda s: '9/11/2001' if s == '' else s
replace_01 = lambda s: s.replace('01', '2001')
Strip_spaces = lambda s: s.strip()

In [48]:
#grab  death day, replace blanks with 9/11/2001

deathdate =  (split_lines
        >> map(get(6))
        >> map(replace_blank_death)
        )
deathdate[20:40]

['9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 ', died 9/15/01',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001',
 '9/11/2001']

In [235]:
#Grab the death location and remove comma from Shanksville Pa

deathlocation =  (split_lines
        >> map(get(5))
        >> map(remove_commas)
        >> map(Strip_spaces)
        )
deathlocation[0:15]

['World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center',
 'Shanksville Pa',
 'World Trade Center',
 'World Trade Center',
 'World Trade Center']

In [72]:
#grabbing the flight and removing trailing and leading whitespace

flight =  (split_lines
        >> map(get(4))
        >> map(Strip_spaces)
        )
flight[0:20]

['',
 '',
 '',
 '',
 '',
 '',
 'United 175,',
 '',
 '',
 '',
 '',
 'United 93,',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [83]:
#grab passenger status and strip spaces


passstatus =  (split_lines
        >> map(get(3))
        >> map(Strip_spaces)
        )
passstatus[0:20]

['',
 '',
 '',
 '',
 '',
 '',
 'Passenger,',
 '',
 '',
 '',
 '',
 'Passenger,',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

## Grabbing the troubling bit

We have made significant progress, but still need to work on the third entry, which contains the hometown and employment information.  Again, we can do this using the `get` function from `toolz.curried` which *gets* the value from a list at a given index.

In [33]:
troubling_bit = (split_lines
                >> map(get(2))
                )
troubling_bit[:20]

[" Sandler O'Neill + Partners,",
 ' Brooklyn, N.Y., Fiduciary Trust Company International,',
 ' Keefe, Bruyette&Woods, Inc.,',
 ' Melville, N.Y., Cantor Fitzgerald,',
 ' Brooklyn, N.Y., Cantor Fitzgerald,',
 ' New York City, Cantor Fitzgerald,',
 ' Ashdod, Israel,',
 ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
 ' Marsh&McLennan Companies, Inc.,',
 ' Aon Corporation,',
 ' Glen Rock, N.J., Cantor Fitzgerald,',
 '',
 ' Cantor Fitzgerald,',
 ' Fuji Bank, Ltd. security,',
 ' Cantor Fitzgerald,',
 ' New York City, Windows on the World,',
 ' Bronx, N.Y., New York Metropolitan Transportation Council,',
 ' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,',
 ' New York City, Fred Alger Management, Inc.,',
 ' Bronx, N.Y., Windows on the World,']

## Progressively filtering out states

We will start by matching two of the most common states, NY and NJ.

In [34]:
state = re.compile(', (N\.Y\.|N\.J\.),?')
# Rows that match
[(l, state.search(l)) for l in troubling_bit][:20]

[(" Sandler O'Neill + Partners,", None),
 (' Brooklyn, N.Y., Fiduciary Trust Company International,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Keefe, Bruyette&Woods, Inc.,', None),
 (' Melville, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Brooklyn, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' New York City, Cantor Fitzgerald,', None),
 (' Ashdod, Israel,', None),
 (' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(19, 26), match=', N.Y.,'>),
 (' Marsh&McLennan Companies, Inc.,', None),
 (' Aon Corporation,', None),
 (' Glen Rock, N.J., Cantor Fitzgerald,',
  <re.Match object; span=(10, 17), match=', N.J.,'>),
 ('', None),
 (' Cantor Fitzgerald,', None),
 (' Fuji Bank, Ltd. security,', None),
 (' Cantor Fitzgerald,', None),
 (' New York City, Windows on the World,', None),
 (' Bronx, N.Y., New York Metropolitan Transportation Council,',
  <re.Match object; span=(6, 13), match=', N.Y.,'>),
 (' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' New York City, Fred Alger Management, Inc.,', None),
 (' Bronx, N.Y., Windows on the World,',
  <re.Match object; span=(6, 13), match=', N.Y.,'>)]

and inspecting all rows that don't match for additional states or problems

In [35]:
[(i, l) for i, l in enumerate(troubling_bit) if not state.search(l)][:20]

[(0, " Sandler O'Neill + Partners,"),
 (2, ' Keefe, Bruyette&Woods, Inc.,'),
 (5, ' New York City, Cantor Fitzgerald,'),
 (6, ' Ashdod, Israel,'),
 (8, ' Marsh&McLennan Companies, Inc.,'),
 (9, ' Aon Corporation,'),
 (11, ''),
 (12, ' Cantor Fitzgerald,'),
 (13, ' Fuji Bank, Ltd. security,'),
 (14, ' Cantor Fitzgerald,'),
 (15, ' New York City, Windows on the World,'),
 (18, ' New York City, Fred Alger Management, Inc.,'),
 (20, ' Cantor Fitzgerald,'),
 (22, ' Windows on the World,'),
 (23, ' Cantor Fitzgerald,'),
 (24, ' Fiduciary Trust Company International,'),
 (29, ' New Jersey, New York State Department of Taxation and Finance,'),
 (32, ' Marsh&McLennan consultant,'),
 (33, ' Summit Security Services, Inc.,'),
 (34, ' New York City, Marsh&McLennan Companies, Inc.,')]

## Fixing a common problem.

Notice that many rows simply contain ` New York City,` without the state.  Let's fix this problem in our preprocessing step.

In [36]:
grouped_lines[41]

'David D. Alger, 57, New York City, Fred Alger Management, Inc., World Trade Center.'

In [36]:
fix_nyc = pipeable(lambda line: line.replace(', New York City,', ', New York City, N.Y.,'))
grouped_lines[41] >> fix_nyc

'David D. Alger, 57, New York City, N.Y., Fred Alger Management, Inc., World Trade Center.'

## Progress so far

In [89]:
# Imports
from composable import pipeable
from composable.strict import map

In [90]:
# Reg Ex for a line
line_parts = re.compile(r'''^(.+),
(
      \s\?\?                          # ??
    | \s\d{1,3}                       # or age
),
(.*?)                                 # Includes hometown and 
(
        \sPassenger,                  # Optional flight status
    |   \sFlightsCrew,
)?
(
      \sUnited\s\d{2,3},              # Optional flight
    | \sAmericans\d{2,3},
)?
(
       \sWorld\sTrade\sCenter         # Location
    |  \sPentagon
    |  \sShanksville,\sPa
)
(
    ,\sdied\s\d{1,2}/\d{1,2}/\d{1,2}  # Optional date of death
)?
\.$''', re.VERBOSE)

In [91]:
# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))
get_line_parts = pipeable(lambda line: line_parts.search(line).groups(default=''))
remove_commas = lambda s: s.replace(',', '')
# New
fix_nyc = pipeable(lambda line: line.replace(', New York City,', ', New York City, N.Y.,'))

In [92]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts.search(l)]

[]

In [87]:
split_lines =  (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(fix_nyc)
                >> map(get_line_parts)
                )
split_lines[:10]

[('Gordon M. Aamoth, Jr.',
  ' 32',
  " Sandler O'Neill + Partners,",
  '',
  '',
  ' World Trade Center',
  ''),
 ('Edelmiro Abad',
  ' 54',
  ' Brooklyn, N.Y., Fiduciary Trust Company International,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Marie Rose Abad',
  ' 49',
  ' Keefe, Bruyette&Woods, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Andrew Anthony Abate',
  ' 37',
  ' Melville, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Vincent Paul Abate',
  ' 40',
  ' Brooklyn, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Laurence Christopher Abel',
  ' 37',
  ' New York City, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Alona Abraham',
  ' 30',
  ' Ashdod, Israel,',
  ' Passenger,',
  ' United 175,',
  ' World Trade Center',
  ''),
 ('William F. Abrahamson',
  ' 55',
  ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Richard Anthony Aceto',
  ' 42',
  ' Marsh&McLennan Companies, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Heinrich Bernhard Ackermann',
  ' 38',
  ' Aon Corporation,',
  '',
  '',
  ' World Trade Center',
  '')]

In [88]:
names =  (split_lines
        >> map(get(0))
        >> map(remove_commas)
        )
names[:10]

['Gordon M. Aamoth Jr.',
 'Edelmiro Abad',
 'Marie Rose Abad',
 'Andrew Anthony Abate',
 'Vincent Paul Abate',
 'Laurence Christopher Abel',
 'Alona Abraham',
 'William F. Abrahamson',
 'Richard Anthony Aceto',
 'Heinrich Bernhard Ackermann']

In [156]:
troubling_bit = (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(fix_nyc)
                >> map(get_line_parts)
                >> map(get(2))
                )
troubling_bit[:20]

[" Sandler O'Neill + Partners,",
 ' Brooklyn, N.Y., Fiduciary Trust Company International,',
 ' Keefe, Bruyette&Woods, Inc.,',
 ' Melville, N.Y., Cantor Fitzgerald,',
 ' Brooklyn, N.Y., Cantor Fitzgerald,',
 ' New York City, N.Y., Cantor Fitzgerald,',
 ' Ashdod, Israel,',
 ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
 ' Marsh&McLennan Companies, Inc.,',
 ' Aon Corporation,',
 ' Glen Rock, N.J., Cantor Fitzgerald,',
 '',
 ' Cantor Fitzgerald,',
 ' Fuji Bank, Ltd. security,',
 ' Cantor Fitzgerald,',
 ' New York City, N.Y., Windows on the World,',
 ' Bronx, N.Y., New York Metropolitan Transportation Council,',
 ' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,',
 ' New York City, N.Y., Fred Alger Management, Inc.,',
 ' Bronx, N.Y., Windows on the World,']

## Adding more states

Next, we will start adding start to our pattern, and again looking for additional states/problems.  For example, let's add the `Mass.` and `D.C.` patterns.

In [82]:
state = re.compile(', (N\.Y\.|N\.J\.|Mass\.|D\.C\.),?')
[(l, state.search(l)) for l in troubling_bit if state.search(l)][0:30]

[(' Brooklyn, N.Y., Fiduciary Trust Company International,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Melville, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Brooklyn, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' New York City, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(19, 26), match=', N.Y.,'>),
 (' Glen Rock, N.J., Cantor Fitzgerald,',
  <re.Match object; span=(10, 17), match=', N.J.,'>),
 (' New York City, N.Y., Windows on the World,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Bronx, N.Y., New York Metropolitan Transportation Council,',
  <re.Match object; span=(6, 13), match=', N.Y.,'>),
 (' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' New York City, N.Y., Fred Alger Management, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Bronx, N.Y., Windows on the World,',
  <re.Match object; span=(6, 13), match=', N.Y.,'>),
 (' Manalapan, N.J., Cantor Fitzgerald,',
  <re.Match object; span=(10, 17), match=', N.J.,'>),
 (' Belle Harbor, N.Y., New York City Fire Department,',
  <re.Match object; span=(13, 20), match=', N.Y.,'>),
 (' Port Washington, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(16, 23), match=', N.Y.,'>),
 (' Hoboken, N.J., Keefe, Bruyette&Woods, Inc.,',
  <re.Match object; span=(8, 15), match=', N.J.,'>),
 (' Huntington, N.Y., New York City Fire Department,',
  <re.Match object; span=(11, 18), match=', N.Y.,'>),
 (' Forest Hills, N.Y., Cantor Fitzgerald,',
  <re.Match object; span=(13, 20), match=', N.Y.,'>),
 (' Brooklyn, N.Y., Windows on the World,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' New York City, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Westfield, N.J., Cantor Fitzgerald,',
  <re.Match object; span=(10, 17), match=', N.J.,'>),
 (' Staten Island, N.Y., Aon Corporation visitor from Zurich Financial Services,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Emerson, N.J., Aon Corporation,',
  <re.Match object; span=(8, 15), match=', N.J.,'>),
 (' Upper Nyack, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(12, 19), match=', N.Y.,'>),
 (' New York City, N.Y., Risk Waters Group conference attendee from Bloomberg L.P.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Staten Island, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' New York City, N.Y., Fred Alger Management, Inc.,',
  <re.Match object; span=(14, 21), match=', N.Y.,'>),
 (' Brooklyn, N.Y., New York State Department of Taxation and Finance,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Brooklyn, N.Y., New York City Fire Department,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>),
 (' Rockaway Beach, N.Y., New York City Fire Department,',
  <re.Match object; span=(15, 22), match=', N.Y.,'>),
 (' Brooklyn, N.Y., Marsh&McLennan Companies, Inc.,',
  <re.Match object; span=(9, 16), match=', N.Y.,'>)]

In [81]:
[(i, l) for i, l in enumerate(troubling_bit) if not state.search(l)]

[(0, " Sandler O'Neill + Partners,"),
 (2, ' Keefe, Bruyette&Woods, Inc.,'),
 (6, ' Ashdod, Israel,'),
 (8, ' Marsh&McLennan Companies, Inc.,'),
 (9, ' Aon Corporation,'),
 (11, ''),
 (12, ' Cantor Fitzgerald,'),
 (13, ' Fuji Bank, Ltd. security,'),
 (14, ' Cantor Fitzgerald,'),
 (20, ' Cantor Fitzgerald,'),
 (22, ' Windows on the World,'),
 (23, ' Cantor Fitzgerald,'),
 (24, ' Fiduciary Trust Company International,'),
 (32, ' Marsh&McLennan consultant,'),
 (33, ' Summit Security Services, Inc.,'),
 (43, ' Cantor Fitzgerald,'),
 (45, ' Cantor Fitzgerald,'),
 (51, ' Cantor Fitzgerald, Forte Food Service,'),
 (52, ' Windows on the World,'),
 (54, ' Windows on the World,'),
 (55, ' Marsh&McLennan Companies, Inc.,'),
 (56, ' Fiduciary Trust Company International,'),
 (57, ' ABM Industries Inc.,'),
 (58, ' New York City Fire Department,'),
 (59, ' Port Authority of New York and New Jersey first responders,'),
 (61, ' Port Authority Police Department,'),
 (69, ' Cantor Fitzgerald,'),
 (71, ' Marsh&McLennan Companies, Inc.,'),
 (84, ' New York City Fire Department,'),
 (94, ' New York State Department of Taxation and Finance,')]

<h2> <font color="red"> Exercise 4.6.2 - Continue the process. </font> </h2>

Now it is your turn.  You should

1. Keep adding states to the pattern.
2. Add preprocessing steps to fix any issues.

In [99]:
state = re.compile(',\s(N\.Y\.|N\.J\.|New\sJersey|Mass\.|D\.C\.|DC|Ill\.|N\.M\.|NM|New Mexico|Va|Va\.|Virginia),?')


[(i, l) for i, l in enumerate(troubling_bit) if not state.search(l)][0:50]

[(0, " Sandler O'Neill + Partners,"),
 (2, ' Keefe, Bruyette&Woods, Inc.,'),
 (6, ' Ashdod, Israel,'),
 (8, ' Marsh&McLennan Companies, Inc.,'),
 (9, ' Aon Corporation,'),
 (11, ''),
 (12, ' Cantor Fitzgerald,'),
 (13, ' Fuji Bank, Ltd. security,'),
 (14, ' Cantor Fitzgerald,'),
 (20, ' Cantor Fitzgerald,'),
 (22, ' Windows on the World,'),
 (23, ' Cantor Fitzgerald,'),
 (24, ' Fiduciary Trust Company International,'),
 (29, ' New Jersey, New York State Department of Taxation and Finance,'),
 (32, ' Marsh&McLennan consultant,'),
 (33, ' Summit Security Services, Inc.,'),
 (43, ' Cantor Fitzgerald,'),
 (45, ' Cantor Fitzgerald,'),
 (51, ' Cantor Fitzgerald, Forte Food Service,'),
 (52, ' Windows on the World,'),
 (54, ' Windows on the World,'),
 (55, ' Marsh&McLennan Companies, Inc.,'),
 (56, ' Fiduciary Trust Company International,'),
 (57, ' ABM Industries Inc.,'),
 (58, ' New York City Fire Department,'),
 (59, ' Port Authority of New York and New Jersey first responders,'),
 (61, ' Port Authority Police Department,'),
 (69, ' Cantor Fitzgerald,'),
 (71, ' Marsh&McLennan Companies, Inc.,'),
 (74, ' Providence, R.I.,'),
 (79, ' Los Angeles, Calif.,'),
 (84, ' New York City Fire Department,'),
 (85, ' New Jersey, Aon Corporation,'),
 (94, ' New York State Department of Taxation and Finance,'),
 (103, ' ABM Industries Inc.,'),
 (106, ' Windows on the World,'),
 (107, ' Port Authority of New York and New Jersey,'),
 (115, ' Marsh&McLennan consultant,'),
 (116, ' Marsh&McLennan Companies, Inc.,'),
 (118, ' Marsh&McLennan Companies, Inc.,'),
 (119, ' Marsh&McLennan Companies, Inc.,'),
 (127, ' Cantor Fitzgerald,'),
 (128, ' Cantor Fitzgerald visitor,'),
 (130, ' Virginia, United States Navy,'),
 (131, ' Aon Corporation,'),
 (133, ' Cantor Fitzgerald,'),
 (142, ' Risk Waters Group conference attendee from BEA Systems, Inc.,'),
 (146, ' Windows on the World,'),
 (149, ' Lee Hecht Harrison,'),
 (151, ' Essex, England, United Kingdom, Risk Waters Group,')]

In [157]:
#if I saw a State, i did all variations I could think of for that state

state = re.compile(',?\s(N\.Y\.|New\sYork|NY|N\.J\.|New\sJersey|NJ|Mass\.|D\.C\.|DC|Ill\.|N\.M\.|NM|New Mexico|Va|V\.A\.|Va\.|Virginia|NC|N\.C\.|North Carolina|Md|Maryland|M\.D\.|Mary\.|G\.A\.|GA|Georgia|Atlanta,\sGA|I\.A\.|IA|Iowa|Mass|Mass.|MA|M\.A\.|California|Calif\.|CA|C\.A\.|Arizona|Ariz\.|AZ|A\.Z\.|Maine|ME|M\.E\.|Ohio|OH|O\.H\.|Rhode Island|R\.I\.|RI|Florida|Fla\.|FL|F\.L\.|Ill\.|Illinois|I\.A\.|New\sHampshire|NH|N\.H\.|Pennsylvania|Pa\.|PA|P\.A\.|Hawaii|HI|H\.I\.|Louisiana|LA|L\.A\.|La\.|Texas|TX|T\.X\.|Connecticut|CA|C\.A\.|Conn\.|Utah|UT|U\.T\.|Germany|Israel|Manitoba,\sCanada|Canada|New\sSouth\sWales,\sAustralia|Australia|U\.K\.|England|England,\sUnited\sKingdom|India|Japan),?')


len([(i, l) for i, l in enumerate(troubling_bit) if not state.search(l)]) 

#from here, it appears that the rest of the answers are missing this field, this will be dealth with up ahead
#when we split the data

645

In [158]:
[(i, l) for i, l in enumerate(troubling_bit) if not state.search(l)][0:10]

[(0, " Sandler O'Neill + Partners,"),
 (2, ' Keefe, Bruyette&Woods, Inc.,'),
 (8, ' Marsh&McLennan Companies, Inc.,'),
 (9, ' Aon Corporation,'),
 (11, ''),
 (12, ' Cantor Fitzgerald,'),
 (13, ' Fuji Bank, Ltd. security,'),
 (14, ' Cantor Fitzgerald,'),
 (20, ' Cantor Fitzgerald,'),
 (22, ' Windows on the World,')]

<h2> <font color="red"> Exercise 4.6.3 - Make your solution verbose </font> </h2>

Now make your solution to the last problem verbose.  Also reorder the cases so that similar cases are close and add comments.  Finally, change the regular expression to capture the parts before and after the state.

In [162]:

#in the future, i'll refrain from adding in additional details I assume may get hits based on what
#already did, as the following below is likely way more complicated then it needs to be

state = re.compile('''
^(.*?),?\s #grab the front bit and the possible comma

(                   #variations of the state, with all needed ones a possibly a few extra
    N\.Y\.|         #NY 
    New\sYork|
    NY|
    N\.J\.|
    
    New\sJersey|    #NJ
    NJ|

    D\.C\.|         #DC
    DC|

    N\.M\.|         #NM
    NM|
    New Mexico|
    
    Va|             #VA
    V\.A\.|
    Va\.|
    Virginia|

    NC|             #NC
    N\.C\.|
    North Carolina|
    
    Md|             #MD
    Maryland|
    M\.D\.|
    Mary\.|
    MD|

    G\.A\.|         #GA
    GA|
    Georgia|
    Atlanta,\sGA|
    
    I\.A\.|         #IA
    IA|
    Iowa|
    
    Mass|           #MA, here odd patterns like Mass. show up fairly often
    Mass.|
    MA|
    M\.A\.|
    
    California|     #CA
    Calif\.|
    CA|
    C\.A\.|
    
    Arizona|        #AZ
    Ariz\.|
    AZ|
    A\.Z\.|
    
    Maine|          #ME
    ME|
    M\.E\.|
    
    Ohio|           O#H
    OH|
    O\.H\.|
    
    Rhode Island|   #RI
    R\.I\.|
    RI|
    
    Florida|        #FL
    Fla\.|
    FL|
    F\.L\.|
    
    Ill\.|          #IL
    Illinois|
    I\.A\.|

    New\sHampshire| #NH 
    NH|
    N\.H\.|

    Pennsylvania|   #PA
    Pa\.|
    PA|
    P\.A\.|
    
    Hawaii|         #HI
    HI|
    H\.I\.|
    
    Louisiana|      #LA
    LA|
    L\.A\.|
    La\.|
    
    Texas|          #TX
    TX|
    T\.X\.|
    
    Connecticut|    #CA
    CA|
    C\.A\.|
    Conn\.|
    
    Utah|           #UT
    UT|
    U\.T\.|
    
                    #these are misc. including other countries and odd variations
    Germany|
    Israel|
    Manitoba,\sCanada|
    Canada|
    New\sSouth\sWales,\sAustralia|
    Australia|
    U\.K\.|
    England|
    England,\sUnited\sKingdom|
    India|
    Japan
    
)



,
(.*?)$
''', re.VERBOSE)

[(i, l) for i, l in enumerate(troubling_bit) if state.search(l)][0:50] #works whenever there is a state

[(1, ' Brooklyn, N.Y., Fiduciary Trust Company International,'),
 (3, ' Melville, N.Y., Cantor Fitzgerald,'),
 (4, ' Brooklyn, N.Y., Cantor Fitzgerald,'),
 (5, ' New York City, N.Y., Cantor Fitzgerald,'),
 (6, ' Ashdod, Israel,'),
 (7, ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,'),
 (10, ' Glen Rock, N.J., Cantor Fitzgerald,'),
 (15, ' New York City, N.Y., Windows on the World,'),
 (16, ' Bronx, N.Y., New York Metropolitan Transportation Council,'),
 (17, ' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,'),
 (18, ' New York City, N.Y., Fred Alger Management, Inc.,'),
 (19, ' Bronx, N.Y., Windows on the World,'),
 (21, ' Manalapan, N.J., Cantor Fitzgerald,'),
 (25, ' Belle Harbor, N.Y., New York City Fire Department,'),
 (26, ' Port Washington, N.Y., Cantor Fitzgerald,'),
 (27, ' Hoboken, N.J., Keefe, Bruyette&Woods, Inc.,'),
 (28, ' Huntington, N.Y., New York City Fire Department,'),
 (29, ' New Jersey, New York State Department of Taxation and Finance,'),
 (30, ' Forest Hills, N.Y., Cantor Fitzgerald,'),
 (31, ' Brooklyn, N.Y., Windows on the World,'),
 (34, ' New York City, N.Y., Marsh&McLennan Companies, Inc.,'),
 (35, ' Westfield, N.J., Cantor Fitzgerald,'),
 (36,
  ' Staten Island, N.Y., Aon Corporation visitor from Zurich Financial Services,'),
 (37, ' Emerson, N.J., Aon Corporation,'),
 (38, ' Upper Nyack, N.Y., Marsh&McLennan Companies, Inc.,'),
 (39,
  ' New York City, N.Y., Risk Waters Group conference attendee from Bloomberg L.P.,'),
 (40, ' Staten Island, N.Y., Marsh&McLennan Companies, Inc.,'),
 (41, ' New York City, N.Y., Fred Alger Management, Inc.,'),
 (42, ' Brooklyn, N.Y., New York State Department of Taxation and Finance,'),
 (44, ' Brooklyn, N.Y., New York City Fire Department,'),
 (46, ' Rockaway Beach, N.Y., New York City Fire Department,'),
 (47, ' Brooklyn, N.Y., Marsh&McLennan Companies, Inc.,'),
 (48, ' River Edge, N.J., Cantor Fitzgerald,'),
 (49, ' Stoneham, Mass.,'),
 (50, ' Stony Point, N.Y., Marsh&McLennan Companies, Inc.,'),
 (53, ' Queens, N.Y., Marsh&McLennan Companies, Inc.,'),
 (60, ' Washington, D.C., Passenger, American 77,'),
 (62, ' Fort Belvoir, Va., United States Army,'),
 (63, ' Scarsdale, N.Y., Nishi-Nippon Bank, Ltd.,'),
 (64, ' Suffern, N.Y., New York City Fire Department,'),
 (65, " New York City, N.Y., Sandler O'Neill + Partners,"),
 (66, ' Green Brook, N.J., Marsh&McLennan Companies, Inc.,'),
 (67,
  ' New York City, N.Y., New York State Department of Taxation and Finance,'),
 (68, ' Brooklyn, N.Y., Fuji Bank, Ltd.,'),
 (70, ' Hoboken, N.J., Port Authority of New York and New Jersey,'),
 (72, ' Lindenhurst, N.Y., New York City Fire Department,'),
 (73, ' Lindenhurst, N.Y., New York City Fire Department,'),
 (74, ' Providence, R.I.,'),
 (75, ' Cape Cod, Mass. and Pasadena, Calif.,'),
 (76, ' Staten Island, N.Y., Cantor Fitzgerald,')]

## Splitting the troubling bit

Now that we have a way to identify rows that have home addresses (through matching the state), we will split up this data.  We will do this by considering three cases.

1. Blank entry become three blanks (for town, state, employer).
2. Lines that match the states regex will get split by this pattern.
3. The remaining lines hold only the employer and become `'','',entry`

In [163]:
def split_troubling_bit(entry):
    if len(entry) == 0:
        return ('', '', '')
    elif state.search(entry):
        return state.search(entry).groups(default='')
    else:
        return ('', '', entry)

In [164]:
( troubling_bit
 >> map(split_troubling_bit)
)[0:30]

[('', '', " Sandler O'Neill + Partners,"),
 (' Brooklyn', 'N.Y.', ' Fiduciary Trust Company International,'),
 ('', '', ' Keefe, Bruyette&Woods, Inc.,'),
 (' Melville', 'N.Y.', ' Cantor Fitzgerald,'),
 (' Brooklyn', 'N.Y.', ' Cantor Fitzgerald,'),
 (' New York City', 'N.Y.', ' Cantor Fitzgerald,'),
 (' Ashdod', 'Israel', ''),
 (' Westchester County', 'N.Y.', ' Marsh&McLennan Companies, Inc.,'),
 ('', '', ' Marsh&McLennan Companies, Inc.,'),
 ('', '', ' Aon Corporation,'),
 (' Glen Rock', 'N.J.', ' Cantor Fitzgerald,'),
 ('', '', ''),
 ('', '', ' Cantor Fitzgerald,'),
 ('', '', ' Fuji Bank, Ltd. security,'),
 ('', '', ' Cantor Fitzgerald,'),
 (' New York City', 'N.Y.', ' Windows on the World,'),
 (' Bronx', 'N.Y.', ' New York Metropolitan Transportation Council,'),
 (' New Hyde Park', 'N.Y.', ' Marsh&McLennan Companies, Inc.,'),
 (' New York City', 'N.Y.', ' Fred Alger Management, Inc.,'),
 (' Bronx', 'N.Y.', ' Windows on the World,'),
 ('', '', ' Cantor Fitzgerald,'),
 (' Manalapan', 'N.J.', ' Cantor Fitzgerald,'),
 ('', '', ' Windows on the World,'),
 ('', '', ' Cantor Fitzgerald,'),
 ('', '', ' Fiduciary Trust Company International,'),
 (' Belle Harbor', 'N.Y.', ' New York City Fire Department,'),
 (' Port Washington', 'N.Y.', ' Cantor Fitzgerald,'),
 (' Hoboken', 'N.J.', ' Keefe, Bruyette&Woods, Inc.,'),
 (' Huntington', 'N.Y.', ' New York City Fire Department,'),
 ('', 'New Jersey', ' New York State Department of Taxation and Finance,')]

## Progress so far

In [165]:
# Imports
from composable import pipeable
from composable.strict import map

In [166]:
# Reg Ex for a line
line_parts = re.compile(r'''^(.+),
(
      \s\?\?                          # ??
    | \s\d{1,3}                       # or age
),
(.*?)                                 # Includes hometown and 
(
        \sPassenger,                  # Optional flight status
    |   \sFlightsCrew,
)?
(
      \sUnited\s\d{2,3},              # Optional flight
    | \sAmericans\d{2,3},
)?
(
       \sWorld\sTrade\sCenter         # Location
    |  \sPentagon
    |  \sShanksville,\sPa
)
(
    ,\sdied\s\d{1,2}/\d{1,2}/\d{1,2}  # Optional date of death
)?
\.$''', re.VERBOSE)

In [167]:
# Helper functions
add_missing_period = pipeable(lambda line: line if line.endswith('.') else line + '.' )
fix_world_trade = pipeable(lambda line: line.replace('WorldTrade', 'World Trade'))
get_line_parts = pipeable(lambda line: line_parts.search(line).groups(default=''))
remove_commas = lambda s: s.replace(',', '')
# New
fix_nyc = pipeable(lambda line: line.replace(', New York City,', ', New York City, N.Y.,'))

In [53]:
[(i, l) for i, l in enumerate(prepped_lines) if not line_parts.search(l)]

[]

In [168]:
split_lines =  (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(fix_nyc)
                >> map(get_line_parts)
                )
split_lines[0:10]

[('Gordon M. Aamoth, Jr.',
  ' 32',
  " Sandler O'Neill + Partners,",
  '',
  '',
  ' World Trade Center',
  ''),
 ('Edelmiro Abad',
  ' 54',
  ' Brooklyn, N.Y., Fiduciary Trust Company International,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Marie Rose Abad',
  ' 49',
  ' Keefe, Bruyette&Woods, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Andrew Anthony Abate',
  ' 37',
  ' Melville, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Vincent Paul Abate',
  ' 40',
  ' Brooklyn, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Laurence Christopher Abel',
  ' 37',
  ' New York City, N.Y., Cantor Fitzgerald,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Alona Abraham',
  ' 30',
  ' Ashdod, Israel,',
  ' Passenger,',
  ' United 175,',
  ' World Trade Center',
  ''),
 ('William F. Abrahamson',
  ' 55',
  ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Richard Anthony Aceto',
  ' 42',
  ' Marsh&McLennan Companies, Inc.,',
  '',
  '',
  ' World Trade Center',
  ''),
 ('Heinrich Bernhard Ackermann',
  ' 38',
  ' Aon Corporation,',
  '',
  '',
  ' World Trade Center',
  '')]

In [169]:
names =  (split_lines
        >> map(get(0))
        >> map(remove_commas)
        )
names[0:30]

['Gordon M. Aamoth Jr.',
 'Edelmiro Abad',
 'Marie Rose Abad',
 'Andrew Anthony Abate',
 'Vincent Paul Abate',
 'Laurence Christopher Abel',
 'Alona Abraham',
 'William F. Abrahamson',
 'Richard Anthony Aceto',
 'Heinrich Bernhard Ackermann',
 'Paul Acquaviva',
 'Christian Adams',
 'Donald LaRoy Adams',
 'Patrick Adams',
 'Shannon Lewis Adams',
 'Stephen George Adams',
 'Ignatius Udo Adanga',
 'Christy A. Addamo',
 'Terence Edward Adderley Jr.',
 'Sophia B. Addo',
 'Lee Adler',
 'Daniel Thomas Afflitto',
 'Emmanuel Akwasi Afuakwah',
 'Alok Agarwal',
 'Mukul Kumar Agarwala',
 'Joseph Agnello',
 'David Scott Agnes',
 'Joao Alberto da Fonseca Aguiar Jr.',
 'Brian G. Ahearn',
 'Jeremiah Joseph Ahern']

In [80]:
troubling_bit = (grouped_lines
                >> map(add_missing_period)
                >> map(fix_world_trade)
                >> map(fix_nyc)
                >> map(get_line_parts)
                >> map(get(2))
                )
troubling_bit[0:30]

[" Sandler O'Neill + Partners,",
 ' Brooklyn, N.Y., Fiduciary Trust Company International,',
 ' Keefe, Bruyette&Woods, Inc.,',
 ' Melville, N.Y., Cantor Fitzgerald,',
 ' Brooklyn, N.Y., Cantor Fitzgerald,',
 ' New York City, N.Y., Cantor Fitzgerald,',
 ' Ashdod, Israel,',
 ' Westchester County, N.Y., Marsh&McLennan Companies, Inc.,',
 ' Marsh&McLennan Companies, Inc.,',
 ' Aon Corporation,',
 ' Glen Rock, N.J., Cantor Fitzgerald,',
 '',
 ' Cantor Fitzgerald,',
 ' Fuji Bank, Ltd. security,',
 ' Cantor Fitzgerald,',
 ' New York City, N.Y., Windows on the World,',
 ' Bronx, N.Y., New York Metropolitan Transportation Council,',
 ' New Hyde Park, N.Y., Marsh&McLennan Companies, Inc.,',
 ' New York City, N.Y., Fred Alger Management, Inc.,',
 ' Bronx, N.Y., Windows on the World,',
 ' Cantor Fitzgerald,',
 ' Manalapan, N.J., Cantor Fitzgerald,',
 ' Windows on the World,',
 ' Cantor Fitzgerald,',
 ' Fiduciary Trust Company International,',
 ' Belle Harbor, N.Y., New York City Fire Department,',
 ' Port Washington, N.Y., Cantor Fitzgerald,',
 ' Hoboken, N.J., Keefe, Bruyette&Woods, Inc.,',
 ' Huntington, N.Y., New York City Fire Department,',
 ' New Jersey, New York State Department of Taxation and Finance,']

In [170]:
state = re.compile('''
^(.*?)
,?\s                    # Optional comman
(
       N\.Y\.           
    |  N\.J\.
    |  D\.C\.
    |  N\.H\.
    |  N\.M\.
    |  N\.C\.
    |  R.I.
    |  Md\.
    |  Pa\.
    |  Va\.
    |  Ga\.
    |  La\.
    |  Mass\.
    |  Calif\.
    |  Ariz\.
    |  Fla\.
    |  Ill\.
    |  Conn\.
    |  Hawaii
    |  Iowa
    |  Maine
    |  New\sHampshire
    |  New\sJersey
    |  New\sYork
    |  Ohio
    |  Pennsylvania
    |  Texas
    |  Utah
    |  Virginia
    |  Japan
    |  India
    |  Germany
    |  Manitoba,\sCanada
    |  New\sSouth\sWales,\sAustralia
    |  England,\sUnited\sKingdom
)
,
(.*?)$
''', re.VERBOSE)

In [183]:
Splittb =( troubling_bit
            >> map(split_troubling_bit)
        )



( troubling_bit
 >> map(split_troubling_bit)
)[0:30]

[('', '', " Sandler O'Neill + Partners,"),
 (' Brooklyn', 'N.Y.', ' Fiduciary Trust Company International,'),
 ('', '', ' Keefe, Bruyette&Woods, Inc.,'),
 (' Melville', 'N.Y.', ' Cantor Fitzgerald,'),
 (' Brooklyn', 'N.Y.', ' Cantor Fitzgerald,'),
 (' New York City', 'N.Y.', ' Cantor Fitzgerald,'),
 ('', '', ' Ashdod, Israel,'),
 (' Westchester County', 'N.Y.', ' Marsh&McLennan Companies, Inc.,'),
 ('', '', ' Marsh&McLennan Companies, Inc.,'),
 ('', '', ' Aon Corporation,'),
 (' Glen Rock', 'N.J.', ' Cantor Fitzgerald,'),
 ('', '', ''),
 ('', '', ' Cantor Fitzgerald,'),
 ('', '', ' Fuji Bank, Ltd. security,'),
 ('', '', ' Cantor Fitzgerald,'),
 (' New York City', 'N.Y.', ' Windows on the World,'),
 (' Bronx', 'N.Y.', ' New York Metropolitan Transportation Council,'),
 (' New Hyde Park', 'N.Y.', ' Marsh&McLennan Companies, Inc.,'),
 (' New York City', 'N.Y.', ' Fred Alger Management, Inc.,'),
 (' Bronx', 'N.Y.', ' Windows on the World,'),
 ('', '', ' Cantor Fitzgerald,'),
 (' Manalapan', 'N.J.', ' Cantor Fitzgerald,'),
 ('', '', ' Windows on the World,'),
 ('', '', ' Cantor Fitzgerald,'),
 ('', '', ' Fiduciary Trust Company International,'),
 (' Belle Harbor', 'N.Y.', ' New York City Fire Department,'),
 (' Port Washington', 'N.Y.', ' Cantor Fitzgerald,'),
 (' Hoboken', 'N.J.', ' Keefe, Bruyette&Woods, Inc.,'),
 (' Huntington', 'N.Y.', ' New York City Fire Department,'),
 ('', 'New Jersey', ' New York State Department of Taxation and Finance,')]

<h2> <font color="red"> Exercise 4.5.4 </font> </h2>

Clean up each part of the troubling bits, then comma join this section into 1 string.

**Hint:** Be sure to remove any problematic commas.

In [175]:
#moved down here for convienance

remove_commas = lambda s: s.replace(',', '')
remove_periods = lambda s: s.replace('.', '')
remove_quest_mark = lambda s: s.replace('??', '')
replace_blank_death = lambda s: '9/11/2001' if s == '' else s
replace_01 = lambda s: s.replace('01', '2001')
Strip_spaces = lambda s: s.strip()

In [184]:
#starting with state

stateofdeath =  (Splittb
        >> map(get(1))
        )
stateofdeath[0:15]

['',
 'N.Y.',
 '',
 'N.Y.',
 'N.Y.',
 'N.Y.',
 '',
 'N.Y.',
 '',
 '',
 'N.J.',
 '',
 '',
 '',
 '']

In [189]:
#remove periods, commas, and remove extra whitespace 

stateofdeath =  (Splittb
        >> map(get(1))
        >> map(remove_periods)
        >> map(remove_commas)
        >> map(Strip_spaces)
        )
stateofdeath[:50] 

#stateofdeath 

#looks good, state is ready. Some categories still need evaluations (like Isreal and Japan)
#and one may wish to drop the whole data set into openrefine after this is all done to quickly
#collapse categories

['',
 'NY',
 '',
 'NY',
 'NY',
 'NY',
 '',
 'NY',
 '',
 '',
 'NJ',
 '',
 '',
 '',
 '',
 'NY',
 'NY',
 'NY',
 'NY',
 'NY',
 '',
 'NJ',
 '',
 '',
 '',
 'NY',
 'NY',
 'NJ',
 'NY',
 'New Jersey',
 'NY',
 'NY',
 '',
 '',
 'NY',
 'NJ',
 'NY',
 'NJ',
 'NY',
 'NY',
 'NY',
 'NY',
 'NY',
 '',
 'NY',
 '',
 'NY',
 'NY',
 'NJ',
 'Mass']

In [191]:
#Next up is city, which will follow a similar structure

cityofdeath =  (Splittb
        >> map(get(0))
        )
cityofdeath[0:15]

['',
 'Brooklyn',
 '',
 'Melville',
 'Brooklyn',
 'New York City',
 '',
 'Westchester County',
 '',
 '',
 'Glen Rock',
 '',
 '',
 '',
 '',
 'New York City',
 'Bronx',
 'New Hyde Park',
 'New York City',
 'Bronx',
 '',
 'Manalapan',
 '',
 '',
 '',
 'Belle Harbor',
 'Port Washington',
 'Hoboken',
 'Huntington',
 '',
 'Forest Hills',
 'Brooklyn',
 '',
 '',
 'New York City',
 'Westfield',
 'Staten Island',
 'Emerson',
 'Upper Nyack',
 'New York City',
 'Staten Island',
 'New York City',
 'Brooklyn',
 '',
 'Brooklyn',
 '',
 'Rockaway Beach',
 'Brooklyn',
 'River Edge',
 'Stoneham']

In [192]:
#cleaning it will involve all of the same tools


cityofdeath =  (Splittb
        >> map(get(0))
        >> map(remove_periods)
        >> map(remove_commas) 
        >> map(Strip_spaces)
        )
cityofdeath[0:50] #looks good, but one still should use openrefine to check it after were done

['',
 'Brooklyn',
 '',
 'Melville',
 'Brooklyn',
 'New York City',
 '',
 'Westchester County',
 '',
 '',
 'Glen Rock',
 '',
 '',
 '',
 '',
 'New York City',
 'Bronx',
 'New Hyde Park',
 'New York City',
 'Bronx',
 '',
 'Manalapan',
 '',
 '',
 '',
 'Belle Harbor',
 'Port Washington',
 'Hoboken',
 'Huntington',
 '',
 'Forest Hills',
 'Brooklyn',
 '',
 '',
 'New York City',
 'Westfield',
 'Staten Island',
 'Emerson',
 'Upper Nyack',
 'New York City',
 'Staten Island',
 'New York City',
 'Brooklyn',
 '',
 'Brooklyn',
 '',
 'Rockaway Beach',
 'Brooklyn',
 'River Edge',
 'Stoneham']

In [193]:
#Finally, we have company at the end


company =  (Splittb
        >> map(get(2))
        )
company[0:15]

[" Sandler O'Neill + Partners,",
 ' Fiduciary Trust Company International,',
 ' Keefe, Bruyette&Woods, Inc.,',
 ' Cantor Fitzgerald,',
 ' Cantor Fitzgerald,',
 ' Cantor Fitzgerald,',
 ' Ashdod, Israel,',
 ' Marsh&McLennan Companies, Inc.,',
 ' Marsh&McLennan Companies, Inc.,',
 ' Aon Corporation,',
 ' Cantor Fitzgerald,',
 '',
 ' Cantor Fitzgerald,',
 ' Fuji Bank, Ltd. security,',
 ' Cantor Fitzgerald,']

In [194]:
#same applications as before

company =  (Splittb
        >> map(get(2))
        >> map(remove_periods)
        >> map(remove_commas) 
        >> map(Strip_spaces)
        )
company[0:50] #same caveats apply as before

["Sandler O'Neill + Partners",
 'Fiduciary Trust Company International',
 'Keefe Bruyette&Woods Inc',
 'Cantor Fitzgerald',
 'Cantor Fitzgerald',
 'Cantor Fitzgerald',
 'Ashdod Israel',
 'Marsh&McLennan Companies Inc',
 'Marsh&McLennan Companies Inc',
 'Aon Corporation',
 'Cantor Fitzgerald',
 '',
 'Cantor Fitzgerald',
 'Fuji Bank Ltd security',
 'Cantor Fitzgerald',
 'Windows on the World',
 'New York Metropolitan Transportation Council',
 'Marsh&McLennan Companies Inc',
 'Fred Alger Management Inc',
 'Windows on the World',
 'Cantor Fitzgerald',
 'Cantor Fitzgerald',
 'Windows on the World',
 'Cantor Fitzgerald',
 'Fiduciary Trust Company International',
 'New York City Fire Department',
 'Cantor Fitzgerald',
 'Keefe Bruyette&Woods Inc',
 'New York City Fire Department',
 'New York State Department of Taxation and Finance',
 'Cantor Fitzgerald',
 'Windows on the World',
 'Marsh&McLennan consultant',
 'Summit Security Services Inc',
 'Marsh&McLennan Companies Inc',
 'Cantor Fitzgerald',
 'Aon Corporation visitor from Zurich Financial Services',
 'Aon Corporation',
 'Marsh&McLennan Companies Inc',
 'Risk Waters Group conference attendee from Bloomberg LP',
 'Marsh&McLennan Companies Inc',
 'Fred Alger Management Inc',
 'New York State Department of Taxation and Finance',
 'Cantor Fitzgerald',
 'New York City Fire Department',
 'Cantor Fitzgerald',
 'New York City Fire Department',
 'Marsh&McLennan Companies Inc',
 'Cantor Fitzgerald',
 '']

In [200]:
#rejoin all three back together

Fixed_tbit = list(zip(cityofdeath,stateofdeath,company)) #zip gets what we want easily

Fixed_tbit[:30]

[('', '', "Sandler O'Neill + Partners"),
 ('Brooklyn', 'NY', 'Fiduciary Trust Company International'),
 ('', '', 'Keefe Bruyette&Woods Inc'),
 ('Melville', 'NY', 'Cantor Fitzgerald'),
 ('Brooklyn', 'NY', 'Cantor Fitzgerald'),
 ('New York City', 'NY', 'Cantor Fitzgerald'),
 ('', '', 'Ashdod Israel'),
 ('Westchester County', 'NY', 'Marsh&McLennan Companies Inc'),
 ('', '', 'Marsh&McLennan Companies Inc'),
 ('', '', 'Aon Corporation'),
 ('Glen Rock', 'NJ', 'Cantor Fitzgerald'),
 ('', '', ''),
 ('', '', 'Cantor Fitzgerald'),
 ('', '', 'Fuji Bank Ltd security'),
 ('', '', 'Cantor Fitzgerald'),
 ('New York City', 'NY', 'Windows on the World'),
 ('Bronx', 'NY', 'New York Metropolitan Transportation Council'),
 ('New Hyde Park', 'NY', 'Marsh&McLennan Companies Inc'),
 ('New York City', 'NY', 'Fred Alger Management Inc'),
 ('Bronx', 'NY', 'Windows on the World'),
 ('', '', 'Cantor Fitzgerald'),
 ('Manalapan', 'NJ', 'Cantor Fitzgerald'),
 ('', '', 'Windows on the World'),
 ('', '', 'Cantor Fitzgerald'),
 ('', '', 'Fiduciary Trust Company International'),
 ('Belle Harbor', 'NY', 'New York City Fire Department'),
 ('Port Washington', 'NY', 'Cantor Fitzgerald'),
 ('Hoboken', 'NJ', 'Keefe Bruyette&Woods Inc'),
 ('Huntington', 'NY', 'New York City Fire Department'),
 ('', 'New Jersey', 'New York State Department of Taxation and Finance')]

In [203]:
Fixed_tbit_list = [list(row) for row in zip(cityofdeath, stateofdeath, company)]

Fixed_tbit_list[:30] #if having a tuple makes an issue, can also use this list comprehension solution

[['', '', "Sandler O'Neill + Partners"],
 ['Brooklyn', 'NY', 'Fiduciary Trust Company International'],
 ['', '', 'Keefe Bruyette&Woods Inc'],
 ['Melville', 'NY', 'Cantor Fitzgerald'],
 ['Brooklyn', 'NY', 'Cantor Fitzgerald'],
 ['New York City', 'NY', 'Cantor Fitzgerald'],
 ['', '', 'Ashdod Israel'],
 ['Westchester County', 'NY', 'Marsh&McLennan Companies Inc'],
 ['', '', 'Marsh&McLennan Companies Inc'],
 ['', '', 'Aon Corporation'],
 ['Glen Rock', 'NJ', 'Cantor Fitzgerald'],
 ['', '', ''],
 ['', '', 'Cantor Fitzgerald'],
 ['', '', 'Fuji Bank Ltd security'],
 ['', '', 'Cantor Fitzgerald'],
 ['New York City', 'NY', 'Windows on the World'],
 ['Bronx', 'NY', 'New York Metropolitan Transportation Council'],
 ['New Hyde Park', 'NY', 'Marsh&McLennan Companies Inc'],
 ['New York City', 'NY', 'Fred Alger Management Inc'],
 ['Bronx', 'NY', 'Windows on the World'],
 ['', '', 'Cantor Fitzgerald'],
 ['Manalapan', 'NJ', 'Cantor Fitzgerald'],
 ['', '', 'Windows on the World'],
 ['', '', 'Cantor Fitzgerald'],
 ['', '', 'Fiduciary Trust Company International'],
 ['Belle Harbor', 'NY', 'New York City Fire Department'],
 ['Port Washington', 'NY', 'Cantor Fitzgerald'],
 ['Hoboken', 'NJ', 'Keefe Bruyette&Woods Inc'],
 ['Huntington', 'NY', 'New York City Fire Department'],
 ['', 'New Jersey', 'New York State Department of Taxation and Finance']]

## Combining the parts back together.

We can combine the parts back together using the `zip` function.

In [204]:
fixed_troubling_bits = Fixed_tbit_list

In [206]:
from composable.strict import zipOnto
from composable.list import to_list
#(zip(names, ages, fixed_troubling_bits)
# >> to_list
# >> map(comma_join)
#)

In [228]:
#Fixed_tbit_list = [list(row) for row in zip(names,ages,cityofdeath, stateofdeath, company, passstatus, flight, deathlocation, deathdate)]

output = list(zip(names,ages,cityofdeath, stateofdeath, company, passstatus, flight, deathlocation, deathdate))

output[:5]

[('Gordon M. Aamoth Jr.',
  ' 32',
  '',
  '',
  "Sandler O'Neill + Partners",
  '',
  '',
  ' World Trade Center',
  '9/11/2001'),
 ('Edelmiro Abad',
  ' 54',
  'Brooklyn',
  'NY',
  'Fiduciary Trust Company International',
  '',
  '',
  ' World Trade Center',
  '9/11/2001'),
 ('Marie Rose Abad',
  ' 49',
  '',
  '',
  'Keefe Bruyette&Woods Inc',
  '',
  '',
  ' World Trade Center',
  '9/11/2001'),
 ('Andrew Anthony Abate',
  ' 37',
  'Melville',
  'NY',
  'Cantor Fitzgerald',
  '',
  '',
  ' World Trade Center',
  '9/11/2001'),
 ('Vincent Paul Abate',
  ' 40',
  'Brooklyn',
  'NY',
  'Cantor Fitzgerald',
  '',
  '',
  ' World Trade Center',
  '9/11/2001')]

<h2> <font color="red"> Exercise 4.5.4 </font> </h2>

Use `zip` to combine all part of the data and write the result out to a file called `911_Deaths_Fixed.csv`

In [238]:
output = list(zip(names,ages,cityofdeath, stateofdeath, company, passstatus, flight, deathlocation, deathdate))

output[:5]

[('Gordon M. Aamoth Jr.',
  '32',
  '',
  '',
  "Sandler O'Neill + Partners",
  '',
  '',
  'World Trade Center',
  '9/11/2001'),
 ('Edelmiro Abad',
  '54',
  'Brooklyn',
  'NY',
  'Fiduciary Trust Company International',
  '',
  '',
  'World Trade Center',
  '9/11/2001'),
 ('Marie Rose Abad',
  '49',
  '',
  '',
  'Keefe Bruyette&Woods Inc',
  '',
  '',
  'World Trade Center',
  '9/11/2001'),
 ('Andrew Anthony Abate',
  '37',
  'Melville',
  'NY',
  'Cantor Fitzgerald',
  '',
  '',
  'World Trade Center',
  '9/11/2001'),
 ('Vincent Paul Abate',
  '40',
  'Brooklyn',
  'NY',
  'Cantor Fitzgerald',
  '',
  '',
  'World Trade Center',
  '9/11/2001')]

In [239]:
import csv


#ready for further cleaning
with open('911_Deaths_Fixed.csv','w') as out:
    csv_out=csv.writer(out)
    #csv_out.writerows(output) also works
    for row in output:
        csv_out.writerow(row)